.first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.home-one-content {
    overflow-x: hidden!important
}

.home-one-hero {
    background: #002159;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 96px;
    position: relative
}

.home-one-hero .plan-cta {
    font-family: Xenois Soft Pro;
    color: #fff
}

.home-one-hero .plan-cta .plan-cta-inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.home-one-hero .plan-cta .plan-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding-left: 16px;
    padding-right: 16px
}

.home-one-hero .plan-cta h2 {
    font-family: Xenois Soft Pro Bold;
    font-size: 2rem;
    line-height: 1.19;
    letter-spacing: 2px;
    color: #FFC917;
    grid-column: 1/-1
}

.home-one-hero .plan-cta .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px
}

.home-one-hero .plan-cta .details-icon {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.015)),to(rgba(255,255,255,.1)));
    background: linear-gradient(180deg,rgba(255,255,255,.015) 0,rgba(255,255,255,.1) 100%);
    -webkit-box-shadow: inset 0 0 0 2px rgba(255,255,255,.0509804);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.0509804);
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 68px;
    height: 68px;
    margin-right: 24px
}

.home-one-hero .plan-cta .details-text {
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: -.2px
}

.home-one-hero .plan-cta .cta {
    border-radius: 8px;
    display: inline-block
}

.home-one-hero .plan-cta .cta:hover {
    background-color: #fe7085!important
}

@media(max-width: 1023px) {
    .home-one-hero .plan-cta .plan-details {
        grid-template-columns: 1fr;
        gap: 0
    }

    .home-one-hero .plan-cta h2 {
        margin-bottom: 32px
    }
}
.container-ss {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

@media(max-width: 1232px) {
    .container-ss {
        width:100%;
        padding-left: 16px;
        padding-right: 16px
    }
}

@media(max-width: 992px) {
    .container-ss {
        padding-left: 4px;
        padding-right: 4px
    }
}

@media(max-width: 767px) {
    .home-one-hero {
        padding-bottom: 48px
    }

    .home-one-hero .plan-details {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .home-one-hero .plan-cta h2 {
        font-size: 1.25rem;
        line-height: 1.2;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 24px
    }

    .home-one-hero .plan-cta .details:last-child {
        margin-bottom: 0
    }

    .home-one-hero .plan-cta .details-icon {
        width: 32px;
        height: 32px;
        margin-right: 16px
    }

    .home-one-hero .plan-cta .details-icon>img {
        max-width: 20px;
        height: auto
    }

    .home-one-hero .plan-cta .details-text {
        font-size: .875rem;
        line-height: 1.57
    }

    .home-one-hero .plan-cta .cta {
        display: block
    }
}

@media screen and (min-width: 767px) and (max-width:1023px) {
    .home-one-hero .plan-cta {
        padding-right:16px
    }
}

